
.new-tweet {
  display: flex;
  justify-content: center;
}

.new-tweet form {
  width: 100%;
  border: none;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.new-tweet label {
  align-self: flex-start;
  margin-bottom: 10px;
}

.new-tweet textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid #000;
  padding: 10px;
  font-size: 16px;
  background-color: inherit;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
}

.new-tweet button {
  background-color: #1da1f2;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Bungee', cursive;
}

.new-tweet output.counter {
  font-weight: bold;
}

.new-tweet output.counter.invalid {
  color: red;
}

.error-message {
  display: none; /* Ensure the element is hidden initially */
  color: red;
  background-color: #f8d7da;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
}

@media (min-width: 768px) {
  .new-tweet {
    width: calc(100% - 320px); /* Adjust width considering header's width and margin */
    margin-left: 320px; /* Align it next to the header */
  }
}
